.dashboardbutton {
  height: 90px;
  width: 100%;
  font-size: 0.6rem;
  color: black;
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardicon {
  height: 30px;
  width: 30px;
  color: black;
}

.iconHolder {
  display: flex;
  justify-content: center;
}

ion-item > ion-card :hover {
  cursor: pointer;
}

.dashboardbutton.selected {
  background: rgba(4, 146, 99, 0.5);
}

.cardHeader {
  text-align: center;
}
